.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  text-anchor: middle;
  pointer-events:none;
}

.businesses-label {
  text-anchor: middle;
  pointer-events:none;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}


/* Users graph */

/* ....................................................................... */
/* SVG elements */


.users-graph line.edge {
	  pointer-events: none;

  stroke: #B2D9D8;
}

.users-graph circle {
  fill: #EBC763;
}

.users-graph circle.level-1 {
  stroke: #f00;
}

.users-graph circle.level-2 {
  fill-opacity: 0.8;
  stroke-opacity: 0.8;
  stroke: #777;
}

.users-graph circle.level-3 {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}

.users-graph circle.sibling {
  /*fill: blue;*/
  fill: #455EE8;
}

.users-graph circle.main {
  /*fill: red;*/
  fill: #732A9A;
  fill-opacity: 1.0;
}

/* ....................................................................... */
/* Graph labels */


.users-graph text {
  stroke-opacity: 1.0;
}

.users-graph text.node-shadow {
  stroke: #fff;
  stroke-width: 3px;
}


/*compliments chart */

path.compliments-slice
{
  stroke-width:2px;
}


polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}


/*user review count chart*/


.review-number-bar {
  fill: steelblue;
}

.review-number-bar:hover {
  fill: brown;
}

.review-number-bar-second {
  fill: orange;
}

.review-number-bar-second:hover {
  fill: green;
}

.review-number-axis path,
.review-number-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


